.container{
    display: grid;
    grid-template-rows: 10vh auto 10vh;
    width: 100vh;
}

header{
    align-items: center; 
    background-color: #ffffff;
    border-bottom: 5px solid #b8b8b8;
    display: flex; 
    padding-left: 2em;
}

header h1{
    color: #e74c3c;
    font-size: 2em;
    font-weight: 700;
}

section{
    background-color: #f7f7f7; 
    display: grid;
    grid-template: auto/repeat(4, 23vw);
    grid-gap: 2em 0;
    justify-content: space-around;
    padding: 1.5em 0;
    width: 100vw;
}

section article{
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px #b8b8b8;
    color: #303032;
    height: 45vh;
    padding: 1em 0.5em;
    text-align: center;

}

section article:hover{
    opacity: 0.3;
    transition-duration: 0.5s;
}

section article img {
    border-radius: 50%;
    border: 3px solid #999999;
}

article h2 {
    color: #e74c3c;
    margin: 0.5em 0;
    font-size: 1.2em;
    text-transform: capitalize;
}

article h3 {
    font-size: 0.8em;
}

hr{
    margin: 1.5em 0 1em; 
}

footer{
    align-items: center;
    background-color: #303032;
    width: 100vw;
    display: flex;
    justify-content: center;

}

footer p{
    color: #999999; 
}
